.noResultContainer {
  margin-top: 25px;
  text-align: center;
}
.moviesContainer {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: inline-block;
}
.listItem {
  border : 2px solid;
  margin-bottom: 15px;
  cursor: pointer;
}
.voteTitle {
  margin-right: 10px;
}
.voteCount {
  background-color: #454545;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  color: white;
  height: 18px;
  margin: auto;
  padding: 10px;
  margin-right: 15px;
}
